In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
all_season_file = "Resources/all_seasons.csv"
all_seasons_df = pd.read_csv(all_season_file)
all_seasons_df.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
1,1,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,1,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97
2,2,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,3,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
3,3,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,1,...,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97
4,4,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,1,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97

In [3]:
all_season_cols = ['player_name', 'age', 'team_abbreviation', 'player_height', 'player_weight', 'pts', 'reb','ast','season']
all_season_transformed = all_seasons_df[all_season_cols].copy()

all_season_transformed.head()

,player_name,age,team_abbreviation,player_height,player_weight,pts,reb,ast,season
0,Dennis Rodman,36.0,CHI,198.12,99.790240,5.7,16.1,3.1,1996-97
1,Dwayne Schintzius,28.0,LAC,215.90,117.933920,2.3,1.5,0.3,1996-97
2,Earl Cureton,39.0,TOR,205.74,95.254320,0.8,1.0,0.4,1996-97
3,Ed O'Bannon,24.0,DAL,203.20,100.697424,3.7,2.3,0.6,1996-97
4,Ed Pinckney,34.0,MIA,205.74,108.862080,2.4,2.4,0.2,1996-97

In [4]:
all_season_cols = ['player_name', 'age', 'team_abbreviation', 'player_height', 'player_weight', 'pts', 'reb','ast','season']
all_season_transformed = all_seasons_df[all_season_cols].copy()
season_renamed = all_season_transformed.rename(columns={
    'player_name' : 'Player',
    'age' : 'Age',
    'team_abbreviation' : 'Team',
    'player_height': 'Height',
    'player_weight' :'Weight',
    'pts' : 'points',
    'reb': 'Rebounds',
    'ast' : 'Assist',
    'season' : 'Season'})

season_renamed.head()

,Player,Age,Team,Height,Weight,points,Rebounds,Assist,Season
0,Dennis Rodman,36.0,CHI,198.12,99.790240,5.7,16.1,3.1,1996-97
1,Dwayne Schintzius,28.0,LAC,215.90,117.933920,2.3,1.5,0.3,1996-97
2,Earl Cureton,39.0,TOR,205.74,95.254320,0.8,1.0,0.4,1996-97
3,Ed O'Bannon,24.0,DAL,203.20,100.697424,3.7,2.3,0.6,1996-97
4,Ed Pinckney,34.0,MIA,205.74,108.862080,2.4,2.4,0.2,1996-97

In [5]:
new_season_df = season_renamed.loc[season_renamed['Season'] > '2012-13']
new_season_df.head()

,Player,Age,Team,Height,Weight,points,Rebounds,Assist,Season
7625,Ronnie Price,31.0,ORL,187.96,86.18248,2.4,1.4,2.1,2013-14
7626,Rudy Gay,27.0,SAC,203.20,104.32616,20.0,6.0,2.9,2013-14
7627,Royce White,23.0,SAC,203.20,117.93392,0.0,0.0,0.0,2013-14
7628,Royal Ivey,32.0,OKC,193.04,90.71840,0.0,0.5,0.0,2013-14
7629,Roy Hibbert,27.0,IND,218.44,131.54168,10.8,6.6,1.1,2013-14

In [6]:
rds_connection_string = "postgres:FNlenh97@localhost:5432/NBA_DB"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [7]:
new_season_df.to_sql(name='all_season', con=engine, if_exists='append', index=False)

In [8]:
pd.read_sql_query('select * from all_season', con=engine).head()

,Player,Age,Team,Height,Weight,points,Rebounds,Assist,Season
0,Ronnie Price,31.0,ORL,187.96,86.18248,2.4,1.4,2.1,2013-14
1,Rudy Gay,27.0,SAC,203.20,104.32616,20.0,6.0,2.9,2013-14
2,Royce White,23.0,SAC,203.20,117.93392,0.0,0.0,0.0,2013-14
3,Royal Ivey,32.0,OKC,193.04,90.71840,0.0,0.5,0.0,2013-14
4,Roy Hibbert,27.0,IND,218.44,131.54168,10.8,6.6,1.1,2013-14