In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
shot_log_file = "Resources/shot_logs.csv"
shot_df = pd.read_csv(shot_log_file)
shot_df.head()

,GAME_ID,MATCHUP,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,...,SHOT_DIST,PTS_TYPE,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_name,player_id
0,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,1,1,1:09,10.8,2,...,7.7,2,made,"Anderson, Alan",101187,1.3,1,2,brian roberts,203148
1,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,2,1,0:14,3.4,0,...,28.2,3,missed,"Bogdanovic, Bojan",202711,6.1,0,0,brian roberts,203148
2,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,3,1,0:00,NaN,3,...,10.1,2,missed,"Bogdanovic, Bojan",202711,0.9,0,0,brian roberts,203148
3,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,4,2,11:47,10.3,2,...,17.2,2,missed,"Brown, Markel",203900,3.4,0,0,brian roberts,203148
4,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,5,2,10:34,10.9,2,...,3.7,2,missed,"Young, Thaddeus",201152,1.1,0,0,brian roberts,203148

In [3]:
shot_df['player_name'] = shot_df['player_name'].str.title()
shot_df.head()

,GAME_ID,MATCHUP,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,...,SHOT_DIST,PTS_TYPE,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_name,player_id
0,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,1,1,1:09,10.8,2,...,7.7,2,made,"Anderson, Alan",101187,1.3,1,2,Brian Roberts,203148
1,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,2,1,0:14,3.4,0,...,28.2,3,missed,"Bogdanovic, Bojan",202711,6.1,0,0,Brian Roberts,203148
2,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,3,1,0:00,NaN,3,...,10.1,2,missed,"Bogdanovic, Bojan",202711,0.9,0,0,Brian Roberts,203148
3,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,4,2,11:47,10.3,2,...,17.2,2,missed,"Brown, Markel",203900,3.4,0,0,Brian Roberts,203148
4,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,5,2,10:34,10.9,2,...,3.7,2,missed,"Young, Thaddeus",201152,1.1,0,0,Brian Roberts,203148

In [4]:
shot_df_cols = ['MATCHUP', 'SHOT_NUMBER', 'GAME_CLOCK', 'SHOT_DIST', 'PTS_TYPE','SHOT_RESULT','FGM','PTS', 'player_name']
shot_df_transformed = shot_df[shot_df_cols].copy()
shot_df_transformed.head()

,MATCHUP,SHOT_NUMBER,GAME_CLOCK,SHOT_DIST,PTS_TYPE,SHOT_RESULT,FGM,PTS,player_name
0,"MAR 04, 2015 - CHA @ BKN",1,1:09,7.7,2,made,1,2,Brian Roberts
1,"MAR 04, 2015 - CHA @ BKN",2,0:14,28.2,3,missed,0,0,Brian Roberts
2,"MAR 04, 2015 - CHA @ BKN",3,0:00,10.1,2,missed,0,0,Brian Roberts
3,"MAR 04, 2015 - CHA @ BKN",4,11:47,17.2,2,missed,0,0,Brian Roberts
4,"MAR 04, 2015 - CHA @ BKN",5,10:34,3.7,2,missed,0,0,Brian Roberts

In [5]:
colu={}
for col in shot_df_transformed.columns:
    colu[col]=col.lower()
colu
shot_df_transform = shot_df_transformed.rename(columns=colu)
shot_df_transform.head()

,matchup,shot_number,game_clock,shot_dist,pts_type,shot_result,fgm,pts,player_name
0,"MAR 04, 2015 - CHA @ BKN",1,1:09,7.7,2,made,1,2,Brian Roberts
1,"MAR 04, 2015 - CHA @ BKN",2,0:14,28.2,3,missed,0,0,Brian Roberts
2,"MAR 04, 2015 - CHA @ BKN",3,0:00,10.1,2,missed,0,0,Brian Roberts
3,"MAR 04, 2015 - CHA @ BKN",4,11:47,17.2,2,missed,0,0,Brian Roberts
4,"MAR 04, 2015 - CHA @ BKN",5,10:34,3.7,2,missed,0,0,Brian Roberts

In [8]:
rds_connection_string = "Team_6:Nourkerry618@etlteam6.crmdinj6n0gp.us-east-2.rds.amazonaws.com:5432/NBA_DB"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [9]:
shot_df_transform.to_sql(name='shot_logs', con=engine, if_exists='append', index=False)

In [ ]:
pd.read_sql_query('select * from shot_logs', con=engine).head()

,matchup,shot_number,game_clock,shot_dist,pts_type,shot_result,fgm,pts,player_name
0,"MAR 04, 2015 - CHA @ BKN",1,1:09,7.7,2,made,1,2,Brian Roberts
1,"MAR 04, 2015 - CHA @ BKN",2,0:14,28.2,3,missed,0,0,Brian Roberts
2,"MAR 04, 2015 - CHA @ BKN",3,0:00,10.1,2,missed,0,0,Brian Roberts
3,"MAR 04, 2015 - CHA @ BKN",4,11:47,17.2,2,missed,0,0,Brian Roberts
4,"MAR 04, 2015 - CHA @ BKN",5,10:34,3.7,2,missed,0,0,Brian Roberts