In [24]:
import pandas as pd
from sqlalchemy import create_engine

In [25]:
shot_log_file = "Resources/shot_logs.csv"
shot_df = pd.read_csv(shot_log_file)
shot_df.head()

,GAME_ID,MATCHUP,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,...,SHOT_DIST,PTS_TYPE,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_name,player_id
0,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,1,1,1:09,10.8,2,...,7.7,2,made,"Anderson, Alan",101187,1.3,1,2,brian roberts,203148
1,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,2,1,0:14,3.4,0,...,28.2,3,missed,"Bogdanovic, Bojan",202711,6.1,0,0,brian roberts,203148
2,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,3,1,0:00,NaN,3,...,10.1,2,missed,"Bogdanovic, Bojan",202711,0.9,0,0,brian roberts,203148
3,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,4,2,11:47,10.3,2,...,17.2,2,missed,"Brown, Markel",203900,3.4,0,0,brian roberts,203148
4,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,5,2,10:34,10.9,2,...,3.7,2,missed,"Young, Thaddeus",201152,1.1,0,0,brian roberts,203148

In [26]:
shot_df['player_name'] = shot_df['player_name'].str.title()
shot_df

,GAME_ID,MATCHUP,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,...,SHOT_DIST,PTS_TYPE,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_name,player_id
0,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,1,1,1:09,10.8,2,...,7.7,2,made,"Anderson, Alan",101187,1.3,1,2,Brian Roberts,203148
1,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,2,1,0:14,3.4,0,...,28.2,3,missed,"Bogdanovic, Bojan",202711,6.1,0,0,Brian Roberts,203148
2,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,3,1,0:00,NaN,3,...,10.1,2,missed,"Bogdanovic, Bojan",202711,0.9,0,0,Brian Roberts,203148
3,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,4,2,11:47,10.3,2,...,17.2,2,missed,"Brown, Markel",203900,3.4,0,0,Brian Roberts,203148
4,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,5,2,10:34,10.9,2,...,3.7,2,missed,"Young, Thaddeus",201152,1.1,0,0,Brian Roberts,203148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128064,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,5,3,1:52,18.3,5,...,8.7,2,missed,"Smart, Marcus",203935,0.8,0,0,Jarrett Jack,101127
128065,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,6,4,11:28,19.8,4,...,0.6,2,made,"Turner, Evan",202323,0.6,1,2,Jarrett Jack,101127
128066,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,7,4,11:10,23.0,2,...,16.9,2,made,"Thornton, Marcus",201977,4.2,1,2,Jarrett Jack,101127
128067,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,8,4,2:37,9.1,4,...,18.3,2,missed,"Bradley, Avery",202340,3.0,0,0,Jarrett Jack,101127
128068,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,9,4,0:12,NaN,5,...,5.1,2,made,"Bradley, Avery",202340,2.3,1,2,Jarrett Jack,101127

In [33]:
shot_df_cols = ['MATCHUP', 'SHOT_NUMBER', 'GAME_CLOCK', 'SHOT_DIST', 'PTS_TYPE','SHOT_RESULT','FGM','PTS', 'player_name']
shot_df_transformed = shot_df[shot_df_cols].copy()
shot_df_transformed

,MATCHUP,SHOT_NUMBER,GAME_CLOCK,SHOT_DIST,PTS_TYPE,SHOT_RESULT,FGM,PTS,player_name
0,"MAR 04, 2015 - CHA @ BKN",1,1:09,7.7,2,made,1,2,Brian Roberts
1,"MAR 04, 2015 - CHA @ BKN",2,0:14,28.2,3,missed,0,0,Brian Roberts
2,"MAR 04, 2015 - CHA @ BKN",3,0:00,10.1,2,missed,0,0,Brian Roberts
3,"MAR 04, 2015 - CHA @ BKN",4,11:47,17.2,2,missed,0,0,Brian Roberts
4,"MAR 04, 2015 - CHA @ BKN",5,10:34,3.7,2,missed,0,0,Brian Roberts
...,...,...,...,...,...,...,...,...,...
128064,"OCT 29, 2014 - BKN @ BOS",5,1:52,8.7,2,missed,0,0,Jarrett Jack
128065,"OCT 29, 2014 - BKN @ BOS",6,11:28,0.6,2,made,1,2,Jarrett Jack
128066,"OCT 29, 2014 - BKN @ BOS",7,11:10,16.9,2,made,1,2,Jarrett Jack
128067,"OCT 29, 2014 - BKN @ BOS",8,2:37,18.3,2,missed,0,0,Jarrett Jack
128068,"OCT 29, 2014 - BKN @ BOS",9,0:12,5.1,2,made,1,2,Jarrett Jack

In [47]:
colu={}
for col in shot_df_transformed.columns:
    colu[col]=col.lower()
colu
shot_df_transform = shot_df_transformed.rename(columns=colu)
shot_df_transform

,matchup,shot_number,game_clock,shot_dist,pts_type,shot_result,fgm,pts,player_name
0,"MAR 04, 2015 - CHA @ BKN",1,1:09,7.7,2,made,1,2,Brian Roberts
1,"MAR 04, 2015 - CHA @ BKN",2,0:14,28.2,3,missed,0,0,Brian Roberts
2,"MAR 04, 2015 - CHA @ BKN",3,0:00,10.1,2,missed,0,0,Brian Roberts
3,"MAR 04, 2015 - CHA @ BKN",4,11:47,17.2,2,missed,0,0,Brian Roberts
4,"MAR 04, 2015 - CHA @ BKN",5,10:34,3.7,2,missed,0,0,Brian Roberts
...,...,...,...,...,...,...,...,...,...
128064,"OCT 29, 2014 - BKN @ BOS",5,1:52,8.7,2,missed,0,0,Jarrett Jack
128065,"OCT 29, 2014 - BKN @ BOS",6,11:28,0.6,2,made,1,2,Jarrett Jack
128066,"OCT 29, 2014 - BKN @ BOS",7,11:10,16.9,2,made,1,2,Jarrett Jack
128067,"OCT 29, 2014 - BKN @ BOS",8,2:37,18.3,2,missed,0,0,Jarrett Jack
128068,"OCT 29, 2014 - BKN @ BOS",9,0:12,5.1,2,made,1,2,Jarrett Jack

In [ ]:
rds_connection_string = "postgres:FNlenh97@localhost:5432/NBA_DB"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
shot_df_transform.to_sql(name='shot_logs', con=engine, if_exists='append', index=False)

In [ ]:
pd.read_sql_query('select * from shot_logs', con=engine).head()